* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(165, 189, 221);
}

.gameboy {
    background-color: #b6f3fd;
    width: 320px;
    height: 550px;
    border-radius: 20px 20px 50px 20px;
    border: 5px solid #522433;
    box-shadow: inset 10px 0 rgba(255, 255, 255, 0.705),
                inset -10px 0 #0003;
    position: relative;
}

.top-bar {
    width: 100%;
    height: 35px;
    border-bottom: 5px solid #522433;
    position: relative;
} 

.top-bar::before,
.top-bar::after {
    content: "";
    width: 5px;
    height: 100%;
    background-color: #522433;
    position: absolute;
}

.top-bar::before {
    left: 25px;
}

.top-bar::after {
    right: 25px;
}

.screen {
    width: 250px;
    height: 250px;
    border: 5px solid #522433;
    margin: 30px 0 0 30px;
    border-radius: 10px 10px 30px 10px;
    background-color: #886571;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.screen::before,
.screen::after {
    content: "";
    height: 3px;
    width: 120px;
    background-color: #522433;
    position: absolute;
    top: 12px;
}

.screen::before {
    left: 10px;
}

.screen::after {
    right: 10px;
    width: 40px;
}

.screen span {
    width: 10px;
    height: 10px;
    background-color: rgb(230, 84, 84);
    position: absolute;
    left: 10px;
    border-radius: 50%;
    border: 1px solid #522433;
}

.screen .glass {
    width: 185px;
    height: 185px;
    border: 5px solid #522433;
    background-color: #9ddb85;
    box-shadow: inset 5px 5px 0 0 rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
}

.screen .glass::before,
.screen .glass::after {
    content: "";
    background-color: #FFF5;
    width: 40px;
    height: 200%;
    position: absolute;
    transform: rotate(45deg);
    top: -70px;
}

.screen .glass::after {
    right: -15px;
    width: 60px;
}

