* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tea-cup {
    width: 350px;
    height: 350px;
    border: 6px solid black;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.tea-cup::after {
    content: ""; 
    width: 100%;
    height: 100%;
    background-color: rgb(92, 92, 92);
    position: absolute;
    border-radius: 50%;
    z-index: -999;
    left: 70px;
    top: 30px;
}

.handle {
    width: 50px;
    height: 60px;
    border-top: 6px solid black;
    border-left: 6px solid black;
    border-right: 6px solid black;
    position: relative;
    border-radius: 20px 20px 0 0;
    top: -150px;
    right: -330px;
    transform: rotate(45deg);
    background-color: rgb(240, 240, 240);
    overflow: hidden;
    box-shadow: 70px -15px 0px rgb(92, 92, 92);
}

.handle::after {
    content: "";
    width: 50%;
    height: 100%;
    background-color: rgb(189, 189, 189);
    position: absolute;
    right: 0;
}

.tea-cup .inside {
    width: 90%;
    height: 90%;
    border: 5px solid black;
    border-radius: 50%;
    position: relative;
    background-color: #A67A53;
    overflow: hidden;
}

.tea-cup .inside::after {
    content: "";
    width: 100%;
    height: 100%;
    border: 70px solid rgba(0, 0, 0, 0.397);
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: 51;
}

.tea-cup .inside .second-color {
    transform: rotate(45deg);
}

.tea-cup .inside .second-color .shadow:nth-child(1){
    background-color: #734C23;
    width: 80%;
    height: 160px;
    border-radius: 0% 86% 73% 0% / 10% 61% 92% 58% ;
    transform: translateY(-40px);
}

.tea-cup .inside .second-color .shadow:nth-child(2){
    background-color: #734C23;
    width: 80%;
    height: 130px;
    border-radius: 0% 86% 100% 0% / 10% 61% 92% 58% ;
    position: absolute;
    transform: translateY(10px);
}

.tea-cup .inside .second-color .gambiarra{
    background-color: #734C23;
    width: 160px;
    height: 70px;
    position: absolute;
    transform: translate(0, -45px);
    display: flex;
    align-items: center;
}

.tea-cup .inside .second-color .gambiarra div {
    width: 30px;
    height: 60px;
    background-color: #A67A53;
    position: absolute;
    right: -17px;
    top: -1px;
    border-radius: 50% ;
    transform: rotate(180deg);
}

.tea-cup .inside .details div:nth-child(1) {
    background-color: #A67A53;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: -150px;
    bottom: 0;
    left: -100px;
    right: 0;
}

.tea-cup .inside .details div:nth-child(2) {
    background-color: #A67A53;
    width: 40px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: -130px;
    bottom: 0;
    left: 0px;
    right: -50px;
}

.tea-cup .inside .details div:nth-child(3) {
    background-color: #A67A53;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: -60px;
    left: -200px;
    right: 0px;
}

.tea-cup .inside .details div:nth-child(4) {
    background-color: #A67A53;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: -160px;
    left: -130px;
    right: 0px;
}

.tea-cup .inside .details div:nth-child(5) {
    background-color: #734C23;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: -250px;
    left: -50px;
    right: 0px;
}

.tea-cup .inside .details div:nth-child(6) {
    background-color: #734C23;
    width: 40px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: -30px;
    right: 0px;
}

.tea-cup .inside .details div:nth-child(7) {
    background-color: #734C23;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: -70px;
    bottom: 0px;
    left: 0px;
    right: -250px;
}

.tea-cup .inside .details div:nth-child(8) {
    background-color: #734C23;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: -60px;
    bottom: 0px;
    left: 0px;
    right: -240px;
}

.tea-cup .inside .details div:nth-child(9) {
    background-color: #734C23;
    width: 10px;
    height: 30px;
    border-radius: 76% 86% 100% 50% ;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: -20px;
    left: 0px;
    right: -270px;
}

.tea-cup .inside .details div:nth-child(10) {
    background-color: #734C23;
    width: 20px;
    height: 120px;
    border-radius: 0 86% 100% 0 ;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: -190px;
    left: 0px;
    right: -160px;
    transform: rotate(50deg);
}

.tea-cup .inside .details div:nth-child(11) {
    background-color: #A67A53;
    width: 20px;
    height: 125px;
    border-radius: 0 86% 0 50% ;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: -173px;
    left: 0px;
    right: -150px;
    transform: rotate(55deg);
}

.tea-cup .inside .details div:nth-child(12) {
    background-color: #734C23;
    width: 7px;
    height: 7px;
    border-radius: 50% ;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: -10px;
    left: 0px;
    right: -150px;
    transform: rotate(55deg);
}

.tea-cup .inside .consume-coffee {
    width: 100%;
    height: 100%;
    background-color: rgb(221, 221, 221);
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.tea-cup .inside .consume-coffee::before {
    content: "";
    width: 30%;
    height: 30%;
    position: absolute;
    border-radius: 50%;
    border: 5px solid black;
}

.tea-cup .inside .consume-coffee::after {
    content: "";
    width: 25%;
    height: 25%;
    position: absolute;
    margin: auto;
    border-radius: 50%;
    background-color: rgb(221, 221, 221);
    top: -15px;
    bottom: 0;
    left: 0;
    right: -25px;
}

.tea-cup .inside .consume-coffee div:nth-child(1) {
    width: 60px;
    height: 70px;
    background-color: white;
    z-index: 10;
    border-radius: 50%;
    position: relative;
    left: -7px;
    top: -7px;
    transform: rotate(45deg);
}

.tea-cup .inside .consume-coffee div:nth-child(1)::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(221, 221, 221);
    position: absolute;
    border-radius: 50%;
    left: 7px;
}

.tea-cup .inside .consume-coffee div:nth-child(2) {
    width: 10px;
    height: 20px;
    background-color: rgb(221, 221, 221);
    position: relative;
    z-index: 5;
    border-radius: 50%;
    left: -65px;
    top: -30px;
}