@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #F7FAFF;
}

/* =-=-=-=-= Top Bar =-=-=-=-= */
header {
    height: 60px;
    background-color: #557CF2;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

header img {
    height: 90%;
}

header div {
    height: 100%;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: #55f255; */
}

header div div {
    width: 35%;
    display: flex;
    justify-content: space-around;
}

header div div img {
    height: 80%;
}

header div div span{
    color: #8BBBB0;
    font-size: 18px;
    font-weight: 500;
}

header div button {
    padding: 5px 20px;
    border-radius: 20px;
    border: 0;
    color: white;
    font-weight: 800;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.205);
    background-color: #61f861;
}

header div span.user {
    background: mediumaquamarine;
    padding: 7px 10px;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

/* =-=-=-=-= Section =-=-=-=-= */
section {
    height: 100%;
    display: grid;
    grid-template-columns: 350px 1fr;
}

/* =-=-=-=-= Domains =-=-=-=-= */
section .domains {
    padding: 40px 30px;
}

section .domains .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

section .domains .top h1 {
    font-weight: 400;   
}

section .domains .top span {
    color: rgba(0, 0, 0, 0.253);
    font-weight: 100;
}

section .domains .top button {
    padding: 5px 10px;
    border-radius: 20px;
    border: 0;
    background-color: #f1727b;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.486);
    cursor: pointer;
    transition: all 0.5s;
}

section .domains .top button:hover {
    background-color: #ee3a46;
}

section .domains .myDomains h1 {
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

section .domains .myDomains div:first-of-type {
    background-color: #F0F4FE;
    padding: 2px 7px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

section .domains .myDomains div:first-of-type span {
    color: #557CF2;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
}

section .domains .myDomains div:first-of-type span i {
    margin-right: 5px;
}

section .domains .myDomains div svg {
    height: 35px;
    padding: 5px;
    background-color: #dadee9;
    border-radius: 50%;
    cursor: pointer;
}

section .domains .domainConfigs {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 5px;
}

section .domains .domainConfigs div.myDomainsIcons span {
    padding: 5px 0;
    font-size: 18px;
    font-weight: 500;
    color: #557CF2;
}

section .domains .domainConfigs div.myDomainsIcons span button {
    background-color: rgb(255, 255, 255);
    border: 0;
    padding: 5px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #557CF2;
    box-shadow: 0.5px 1.5px 1px rgba(0, 0, 0, 0.315);
}

section .domains .domainConfigs div.myDomainsIcons:last-child span {
    color: rgba(0, 0, 0, 0.637);
    font-weight: 300;
}

section .domains .domainConfigs div.myDomainsIcons {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    border-radius: 0;
    padding: 0 10px;
    background-color: transparent;
}

section .domains .domainConfigs .myDomainsIcons:nth-child(1):before,
section .domains .domainConfigs .myDomainsIcons:nth-child(2):before,
section .domains .domainConfigs .myDomainsIcons:nth-child(3):before {
    content: "";
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

section .domains .domainConfigs .myDomainsIcons:nth-child(1):before {
    background-image: url(assets/icons/img-u-webapps.svg);
}

section .domains .domainConfigs .myDomainsIcons:nth-child(2):before {
    background-image: url(assets/icons/img-u-mail.svg);
}

section .domains .domainConfigs .myDomainsIcons:nth-child(3):before {
    background-image: url(assets/icons/img-u-domain.svg);
}

/* =-=-=-=-= Content Panel =-=-=-=-=-= */
section .container {
    padding: 40px;
}

section .container .hostConfigs {
    /* height: 260px; */
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 1px 0 rgba(59,89,178,.08), 
                0 4px 14px rgba(59,89,178,.06);
    padding: 30px 30px 0 30px;
}

/* =-=-=-=-= First line =-=-=-=-= */
section .container .hostConfigs .firstLine {
    display: grid;
    grid-template-columns: 15% 40% 44%;
    overflow: hidden;
    padding: 20px 0;
}

/* =-=-=-=-= Node Logo =-=-=-=-= */

section .container .hostConfigs .firstLine .nodeLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

section .container .hostConfigs .firstLine .nodeLogo img {
    height: 90px;
}

section .container .hostConfigs .firstLine .nodeLogo span {
    color: white;
    font-size: 12px;
    background-color: #559355;
    width: 90px;
    height: 15px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    bottom: -2px;
}

/* =-=-=-=-= Links =-=-=-=-= */

section .container .hostConfigs .firstLine .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 25px;
    
}

section .container .hostConfigs .firstLine .links span {
    cursor: pointer;
}

section .container .hostConfigs .firstLine .links span:first-of-type {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.63);
    font-weight: 500;
    transition: all 0.2s;
}

section .container .hostConfigs .firstLine .links span:first-of-type:hover {
    color: rgba(0, 0, 0, 0.747);
}

section .container .hostConfigs .firstLine .links span:first-of-type i {
    font-size: 20px;
    margin-left: 5px;
}

section .container .hostConfigs .firstLine .links span:last-of-type {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.329);
    transition: all 0.2s;
}

section .container .hostConfigs .firstLine .links span:last-of-type:hover {
    color: rgba(0, 0, 0, 0.466);
}

section .container .hostConfigs .firstLine .links span:last-of-type i {
    font-size: 10px;
    margin-left: 5px;
}

/* =-=-=-=-= Server state =-=-=-=-= */
section .container .hostConfigs .firstLine .serverState {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

section .container .hostConfigs .firstLine .serverState .box{
    background-color: #DFE5F2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section .container .hostConfigs .firstLine .serverState .box .text {
    background-color: white;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .container .hostConfigs .firstLine .serverState .box .text h2 {
    font-size: 18px;
}

section .container .hostConfigs .firstLine .serverState .box .text h2:first-of-type {
    color: #61f861;
}

section .container .hostConfigs .firstLine .serverState .box .text h2:last-of-type {
    color: rgba(0, 0, 0, 0.39);
    font-weight: 400;
}

/* =-=-=-=-= Second line =-=-=-=-= */
section .container .hostConfigs .secondLine {
    display: flex;
}

/* =-=-=-=-= Third line =-=-=-=-= */
section .container .hostConfigs .thirdLine {
    display: flex;   
}