@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}

body {
    background-color: whitesmoke;
}

/* =-=-=-= Header =-=-=-= */

header {
    display: flex;
    height: 50vh;
    padding: 30px 150px;
    background: url(assets/images/image-hero-desktop.jpg);
}

header menu {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header menu img {
    height: 20px;
    user-select: none;
}

header menu ul {
    display: flex;
    align-items: center;
}

header menu ul li {
    list-style: none;
    margin: 0 10px;
    font-size: 16px;
    color: white;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ;
}

header menu ul li:hover {
    box-shadow: 0 1px white;
}

/* =-=-=-= Main section =-=-=-= */

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -70px;
    gap: 20px;
}

section .project, 
section .contributions,
section .about {
    width: 50vw;
    padding: 60px 50px 50px;
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.5);
}

/* =-=-=-= Project =-=-=-=-= */ 

section .project .logo {
    position: absolute;
    margin: auto;
    top: -30px;
    left: 0;
    right: 0;
}

section .project {
    text-align: center;
}

section .project h1 {
    font-size: 26px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

section .project span {
    font-size: 16px;
    font-weight: 400;
    color: #7a7a7a;
}

section .project .btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

section .project .btn button {
    margin-top: 30px;
    width: 170px;
    height: 50px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
}

section .project .btn button:nth-child(1) {
    background-color: #3cb4ac;
    color: white;
}

section .project .btn button:nth-child(1):hover {
    background-color: #35948e;
}

section .project .btn button:nth-child(2) {
    color: hsl(0, 0%, 48%);
    text-align: end;
    padding: 0 25px;
    position: relative;
}

section .project .btn button:nth-child(2) i {
    width: 55px;
    height: 55px;
    position: absolute;
    background-color: #424242;
    top: -2.5px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s;
}

section .project .btn button:nth-child(2):hover i {
    background-color: #695e5e;
    color: #80bbf1;
}

/* =-=-=-= Contributions =-=-=-=-= */

section .contributions .values{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section .contributions .values div {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    text-align: center;
}

section .contributions .values div:nth-child(2) {
    border-left: 1px solid #7a7a7a50;
    border-right: 1px solid #7a7a7a50;
}

section .contributions .values div span:nth-child(1) {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 5px;
}

section .contributions .values div span:nth-child(2) {
    font-size: 15px;
    color: #7a7a7a;
    font-weight: 400;
}

section .contributions .progress {
    width: 100%;
    height: 10px;
    margin-top: 50px;
    background-color: #d1d1d185;
    border-radius: 10px;
    position: relative;
}

section .contributions .progress::after {
    content: "";
    position: absolute;
    width: 85%;
    height: 100%;
    background-color: #3cb4ac;
    border-radius: 10px;
}