@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}

body {
    background-color: whitesmoke;
}

/* =-=-=-= Header =-=-=-= */

header {
    display: flex;
    height: 380px;
    padding: 30px 150px;
    background: url(assets/images/image-hero-desktop.jpg);
    background-size: cover;
    justify-content: center;
}

header menu {
    height: 50px;
    min-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header menu img {
    height: 20px;
    user-select: none;
}

header menu ul {
    display: flex;
    align-items: center;
}

header menu .close-btn {
    display: none;
}

header menu ul li {
    list-style: none;
    margin: 0 10px;
    font-size: 16px;
    color: white;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ;
}

header menu ul li:hover {
    box-shadow: 0 1px white;
}

/* =-=-=-= Main .container =-=-=-= */

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -100px;
    gap: 20px;
}

.container .project, 
.container .contributions,
.container .about {
    width: 700px;
    padding: 60px 50px 50px;
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.5);
}

/* =-=-=-= Project =-=-=-=-= */ 

.container .project .logo {
    position: absolute;
    margin: auto;
    top: -30px;
    left: 0;
    right: 0;
}

.container .project {
    text-align: center;
}

.container .project h1 {
    font-size: 26px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.container .project span {
    font-size: 16px;
    font-weight: 400;
    color: #7a7a7a;
}

.container .project .btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container .project .btn button {
    margin-top: 30px;
    width: 170px;
    height: 50px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
}

.container .project .btn button:nth-child(1) {
    background-color: #3cb4ac;
    color: white;
}

.container .project .btn button:nth-child(1):hover {
    background-color: #35948e;
}

.container .project .btn button:nth-child(2) {
    color: hsl(0, 0%, 48%);
    text-align: end;
    padding: 0 25px;
    position: relative;
}

.container .project .btn button:nth-child(2) i {
    width: 55px;
    height: 55px;
    position: absolute;
    background-color: #424242;
    top: -2.5px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s;
}

.container .project .btn button:nth-child(2):hover i {
    background-color: #695e5e;
    color: #80bbf1;
}

/* =-=-=-= Contributions =-=-=-=-= */

.container .contributions .values{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container .contributions .values div {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    text-align: center;
}

.container .contributions .values div:nth-child(2) {
    border-left: 1px solid #7a7a7a50;
    border-right: 1px solid #7a7a7a50;
}

.container .contributions .values div span:nth-child(1) {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 5px;
}

.container .contributions .values div span:nth-child(2) {
    font-size: 15px;
    color: #7a7a7a;
    font-weight: 400;
}

.container .contributions .progress {
    width: 100%;
    height: 10px;
    margin-top: 50px;
    background-color: #d1d1d185;
    border-radius: 10px;
    position: relative;
}

.container .contributions .progress::after {
    content: "";
    position: absolute;
    width: 85%;
    height: 100%;
    background-color: #3cb4ac;
    border-radius: 10px;
}

/* =-=-=-=-= About =-=-=-=-= */

.container .about h1 {
    font-size: 20px;
    color: #424242;
    margin-bottom: 30px;
    font-weight: 700;
}

.container .about p {
    font-size: 16px;
    color: #7a7a7a;
    line-height: 23px;
    margin-bottom: 25px;
    font-weight: 500;
}

.container .about .card {
    padding: 30px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.411);
    margin-bottom: 20px;
    border-radius: 10px;
}

.container .about .card .top {
    display: flex;
    justify-content: space-between;
}

.container .about .card .top h1 {
    font-size: 18px;
    color: #3a3939;
    font-weight: 700;
}

.container .about .card .top span {
    color: #3cb4ac;
    font-weight: 500;
    font-size: 16px;
}

.container .about .card .middle p {
    font-size: 16px;
    line-height: 25px;
}

.container .about .card .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .about .card .bottom h3 {
    font-size: 25px;
    display: flex;
    align-items: center;
}

.container .about .card .bottom h3 span {
    font-size: 16px;
    font-weight: 400;
    color: #7a7a7a;
    margin-left: 10px;
}

.container .about .card .bottom button {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
    background-color: #3cb4ac;
    color: white;
}

.container .about .card .bottom  button:hover {
    background-color: #35948e;
}

.container .about .card:nth-child(3) {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.308);
    position: relative;
    cursor: not-allowed;
}

.container .about .card:nth-child(3) .top h1,
.container .about .card:nth-child(3) .top span,
.container .about .card:nth-child(3) .middle p,
.container .about .card:nth-child(3) .bottom h3 {
    opacity: 50%;
    user-select: none;
}

.container .about .card:nth-child(3) .bottom button {
    background-color: #7a7a7a4b;
    cursor: not-allowed;
}

/*=-=-=-=-= Modal =-=-=-=-= */

.background {
    width: 100%;
    height: 350vh;
    background-color: rgba(124, 124, 124, 0.253);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    display: none;
}

.modal {
    width: 650px;
    padding: 60px 50px 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    margin: auto;
    top: 200px;
    left: 0;
    right: 0;
}

.modal .exit {
    position: absolute;
    top: 30px;
    right: 35px;
    font-weight: 900;
    user-select: none;
    cursor: pointer;
}

.modal h1 {
    margin-bottom: 20px;
    color: #3a3939;
}

.modal span {
    font-size: 16px;
    color: #7a7a7a;
    font-weight: 500;
}

.modal .card{
    margin-top: 20px;
    box-shadow: 0 0 2px 0 #00000042;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.modal .card section {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.modal .card div:nth-child(1) input{
    width: 20px;
    height: 20px;
    position: relative;
    margin: auto;
    left: 5px;
    top: 5px;
}

.modal .card div:nth-child(2) .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
} 

.modal .card div:nth-child(2) .top h3 {
    font-size: 16px;
    color: #424242;
    transition: all 0.3s;
}

.modal .card div:nth-child(2):hover .top h3 {
    color: #3cb4ac;
}

.modal .card div:nth-child(2) .top span {
    font-size: 16px;
    color: #3cb4ac;
    font-weight: 500;
    margin-left: 15px;
    
}

.modal .card div:nth-child(2) .top h3:nth-child(3){
    font-size: 18px;
    color: #424242;
    position: absolute;
    right: 20px;
    
}

.modal .card div:nth-child(2) .top h3:nth-child(3) span {
    font-size: 13px;
    margin: 0;
    color: #695e5e;
    margin-left: 5px;
}

.modal .card div:nth-child(2) .middle p {
    font-size: 16px;
    color: #7a7a7a;
    font-weight: 400;
    margin-bottom: 10px;
}

.modal .card .bottom {
    margin-top: 20px;
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid #695e5e6c;
    position: relative;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.modal .card .bottom span:nth-child(2) {
    padding: 10px 23px;
    border: 1px solid #695e5e8c;
    color: black;
    border-radius: 20px;
    transform: translateX(100%);
}

.modal .card .bottom span:nth-child(2) i {
    font-style: normal;
    color: #695e5eb2;
    position: relative;
    left: -5px;
}

.modal .card .bottom button {
    padding: 10px 23px;
    border: 1px solid #695e5e8c;
    background-color: #3cb4ac;
    color: white;
    font-weight: 700;
    margin-left: 10px;
    border-radius: 20px;
    outline: none;
    transition: all .3s;
    cursor: pointer;
}

.modal .card .bottom button:hover {
    background-color: #35948e;
}


.modal .disable {
    opacity: 70%;
    user-select: none;
    cursor: not-allowed;
}

.modal .disable input {
    pointer-events: none;
}

.modal .disable div:nth-child(2):hover .top h3 {
    color: #424242;
}

/* =-=-=-= Success modal =-=-=-= */

.background2 {
    width: 100%;
    height: 350vh;
    background-color: rgba(124, 124, 124, 0.253);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    display: none;
}

.success-modal {
    width: 450px;
    height: 450px;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 300px;
    right: 0;
    left: 0;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 #424242;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.success-modal img {
    width: 100px;
    height: 100px;
}

.success-modal h1 {
    color: #424242;
}

.success-modal p {
    color: #7a7a7a;
    font-weight: 500;
}

.success-modal button {
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    background-color: #3cb4ac;
    color: white;
    font-weight: 700;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}

.success-modal button:hover {
    background-color: #35948e;
}

/* =-=-=-=-= Responsiveness =-=-=-=-= */

@media screen and (max-width: 600px){

    header {
        display: flex;
        height: 320px;
        padding: 30px 50px;
        background: url(assets/images/image-hero-mobile.jpg);
        background-size: cover;
    }.background2 {
    width: 100%;
    height: 350vh;
    background-color: rgba(124, 124, 124, 0.253);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    display: none;
}
    
    /* =-=-=-=-= Menu =-=-=-=-= */

    header menu img {
        height: 18px;
        user-select: none;
    }
    
    header menu ul {
        width: 300px;
        height: 200px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        position: absolute;
        top: 100px;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.116);
        padding: 0 10px;
        opacity: 0%;
        visibility: hidden;
        transform: translateY(-50px);
        transition: .2s;
        z-index: 20;
    }

    header menu .close-btn{
        display: block;
        content: url(assets/images/icon-hamburger.svg);
        position: absolute;
        top: 45px;
        right: 20px;
        cursor: pointer;
        user-select: none;
    }
    
    header menu ul li {
        color: #505050;
        font-weight: 700;
        padding: 20px 0;
        position: relative;

    }

    header menu ul li:nth-child(2)::before, 
    header menu ul li:nth-child(2)::after {
        content: "";
        width: 300px;
        height: 1px;
        background-color: #42424257;
        position: absolute;
        left: -20px;
    }

    header menu ul li:nth-child(2)::before {
        top: 0;
    }

    header menu ul li:nth-child(2)::after {
        bottom: 0;
    }

    /* =-=-=-=-- Project =-=-=-=-= */
    
    .container .project, 
    .container .contributions,
    .container .about {
        width: 330px;
        padding: 50px 30px;
    }
    
    .container .project .btn button:nth-child(1) {
        width: 170px;
    }
    
    .container .project .btn button:nth-child(2) {
        width: 0;
        height: 0;
        color: #fff;
    }
    
    .container .project .btn button:nth-child(2) i {
        color: #f0e9e9;
    }
    
    /* =-=-=-=-= contributions =-=-=-=-= */

    .container .contributions .values{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .container .contributions .values div:nth-child(2) {
        border: none;
        border-top: 1px solid #7a7a7a50;
        border-bottom: 1px solid #7a7a7a50;
        padding: 20px 0;
    }

    /* =-=-=-=-= About =-=-=-=-= */

    .container .about {
        padding: 60px 20px;
    }

    .container .about .card {
        padding: 30px 20px;
    }

    .container .about .card .top {
        display: block;
        margin-bottom: 20px;

    }
    
    .container .about .card .top h1 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .container .about .card .top span {
        font-size: 13px;
    }
    
    .container .about .card .bottom {
        display: flex;
        flex-direction: column;
    }
    
    .container .about .card .bottom h3 {
        margin-bottom: 15px;
    }

    /* =-=-=-=-= Modal =-=-=-=-= */

    .background {
        height: 450vh;
    }

    .modal {
        width: 340px;
        padding: 60px 30px;
    }
    
    
    .modal .card section {
        display: block;
        position: relative;
        height: 260px;
    }
    
    .modal .card div:nth-child(1) input{
        width: 20px;
        height: 20px;
        position: relative;
        margin: auto;
        left: 5px;
        top: 5px;
    }
    
    .modal .card div:nth-child(2) .top {
        display: block;

    } 

    .modal .cards .card:nth-child(2) div:nth-child(2) .top h3:nth-child(1) {
        position: absolute;
        top: 5px;
        left: 40px;
    }

    .modal .cards .card:nth-child(2) div:nth-child(2) .top h3:nth-child(3) span {
        top: 0;
    }

    .modal .cards .card:nth-child(2) div:nth-child(2) .top span {
        font-size: 15px;
        position: relative;
        top: 10px;
    }
    
    .modal .card div:nth-child(2) .top h3:nth-child(1) {
        position: absolute;
        top: -2px;
        left: 40px;
    }
    
    .modal .card div:nth-child(2) .top span {
        font-size: 14px;
        position: relative;
        top: 20px;
        left: -10px;
    }
    
    .modal .card div:nth-child(2) .top h3:nth-child(3) {
        position: absolute;
        left: 5px;
        top: 230px;
    }

    .modal .card div:nth-child(2) .top h3:nth-child(3) span {
        position: relative;
        top: 0;
        left: 3px;
    }
    
    .modal .card div:nth-child(2) .middle p {
        margin-top: 30px;
    }
    
    .modal .card .bottom {
        margin-top: 20px;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .modal .card .bottom span:nth-child(1) {
        position: absolute;
        top: 5px;
    } 
    
    .modal .card .bottom span:nth-child(2) {
        padding: 10px 23px;
        position: absolute;
        top: 50px;
        left: -85px;
    }
    
    .modal .card .bottom span:nth-child(2) i {
        font-style: normal;
        color: #695e5eb2;
        position: relative;
        left: -5px;
    }
    
    .modal .card .bottom button {
        padding: 10px 15px;
        position: absolute;
        top: 50px;
        right: -10px;
    }
    
    .modal .card .bottom button:hover {
        background-color: #35948e;
    }
    
    
    .modal .disable {
        opacity: 70%;
        user-select: none;
        cursor: not-allowed;
    }
    
    .modal .disable input {
        pointer-events: none;
    }
    
    .modal .disable div:nth-child(2):hover .top h3 {
        color: #424242;
    }

    /* =-=-=-=-= Successes modal =-=-=-=-= */

    .success-modal {
        width: 350px;
        height: 350px;
        gap: 30px;
        padding: 30px;
    }

    .success-modal img {
        width: 50px;
        height: 50px;
    }

    .success-modal h1 {
        font-size: 20px;
    }
}