@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    /* Dark mode default */
    --bg: #1e202a;
    --headerbg: #1f212e;
    --cardbg: #252a41;
    --lighttext: #8b97c6;
    --text: #ffffff;

    --switch: linear-gradient(90deg, #378fe6 0%, #3eda82 100%);

    /* Primary colors */
    --profit: #1db489;
    --loss: #dc414c;

    --facebook: hsl(208, 92%, 53%)
    --Twitter: hsl(203, 89%, 53%)
    --instagram: linear-gradient(90deg, #fdc468 0%, #df4996 100%)
    --youTube: hsl(348, 97%, 39%)
}

body {
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    color: var(--text);
}

.container {
    width: 75%;
}

.container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.container header .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container header .right-side h1 {
    font-size: 32px;
}

.container header .right-side h2 {
    font-size: 14px;
    color: var(--lighttext);
    letter-spacing: 2px;
    font-weight: 700;
}

.container header .left-side {
    position: relative;
}

.container header .left-side span {
    color: var(--lighttext);
    font-weight: 700;
    margin-right: 10px;
}

.container header .left-side input {
    opacity: 0;
    height: 0;
    width: 0;
}

.container header .left-side .switch {
    position: relative;
}

.container header .left-side .switch .slider {
    position: absolute;
    height: 26px;
    width: 50px;
    background: var(--switch);
    border-radius: 25px;
    cursor: pointer;
    transform: translateY(-2px);
}

.container header .left-side .switch .slider::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    background-color: var(--bg);
    border-radius: 50%;
    transition: .3s;

}

.container header .left-side .switch  input:checked + .slider {
    background: #aeb3cb;
}

.container header .left-side .switch  input:checked + .slider::before {
    transform: translateX(-22px);
    background-color: #FFF;
}