@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    /* Dark mode default */
    --bg: #1e202a;
    --headerbg: #1f212e;
    --cardbg: #252a41;
    --lighttext: #8b97c6;

    --text: #ffffff;

    --switch: linear-gradient(90deg, #378fe6 0%, #3eda82 100%);

    /* Primary colors */
    --profit: #1db489;
    --loss: #dc414c;

    --facebook: #198ff5;
    --Twitter: #1ca0f2;
    --instagram: linear-gradient(90deg, #fdc468 0%, #df4996 100%);
    --youTube: #c4032a;
}

body {
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    color: var(--text);
    overflow-x: hidden;
}
    

.container {
    width: 75%;
}

/* =-=-=-= Header -=-=-=-= */
.container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.container header .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container header .left-side h1 {
    font-size: 32px;
}

.container header .left-side h2 {
    font-size: 14px;
    color: var(--lighttext);
    letter-spacing: 2px;
    font-weight: 700;
}

.container header .right-side {
    position: relative;
    transform: translateX(-60%);
}

.container header .right-side span {
    color: var(--lighttext);
    font-weight: 700;
    margin-right: 10px;
}

.container header .right-side input {
    opacity: 0;
    height: 0;
    width: 0;
}

.container header .right-side .switch {
    position: relative;
}

.container header .right-side .switch .slider {
    position: absolute;
    height: 26px;
    width: 50px;
    background: var(--switch);
    border-radius: 25px;
    cursor: pointer;
    transform: translateY(-2px);
}

.container header .right-side .switch .slider::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    background-color: var(--bg);
    border-radius: 50%;
    transition: .3s;

}

.container header .right-side .switch  input:checked + .slider {
    background: #aeb3cb;
}

.container header .right-side .switch  input:checked + .slider::before {
    transform: translateX(-22px);
    background-color: #FFF;
}

.container header::before {
    content: "";
    width: 100vw;
    height: 250px;
    background-color: var(--headerbg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1 ;
}

/* =-=-=-= Cards =-=-=-=-= */
.container .socialMediaCards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.container .socialMediaCards .card {
    width: 230px;
    height: 230px;
    background-color: var(--cardbg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    transition: 0.2s ease-in-out;
}

.container .socialMediaCards .card::after {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
} 

.container .socialMediaCards .card.fb::after {
    background: var(--facebook);
} 
.container .socialMediaCards .card.tt::after {
    background: var(--Twitter);
} 
.container .socialMediaCards .card.insta::after {
    background: var(--instagram);
} 
.container .socialMediaCards .card.yt::after {
    background: var(--youTube);
} 

/* =-=-= set icons =-=-= */
.fb-icon, .tt-icon, .insta-icon, .yt-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: none;
    border-radius: 3px;
}

.fb-icon {
    background-image: url(assets/images/icon-facebook.svg);
}

.tt-icon {
    background-image: url(assets/images/icon-twitter.svg);
    width: 25px;
}

.insta-icon {
    background-image: url(assets/images/icon-instagram.svg);
}

.yt-icon {
    background-image: url(assets/images/icon-youtube.svg);
}

.icon {
    position: relative;
}

.icon.profit::after {
    content: url(assets/images/icon-up.svg);
    width: 10px;
    height: 5px;
    position: absolute;
    top: -3px;
    left: -15px;
}

.icon.loss::after {
    content: url(assets/images/icon-down.svg);
    width: 10px;
    height: 5px;
    position: absolute;
    top: -2px;
    left: -15px;
}

.icon.profit {
    color: var(--profit);
}

.icon.loss {
    color: var(--loss);
}

.container .socialMediaCards .card .tag {
    display: flex;
    gap: 10px;
    color: var(--lighttext);
}

.container .socialMediaCards .card .followers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .socialMediaCards .card .followers h1 {
    font-size: 60px;
    font-weight: 700;
}

.container .socialMediaCards .card .followers span {
    font-size: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--lighttext);
    font-weight: 400;
}

.container .socialMediaCards .card .today {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 700;
    font-size: 12px;
}

.container .socialMediaCards .card .today.profit span{
    color: var(--profit);
}

.container .socialMediaCards .card .today.loss span{
    color: var(--loss);
}

/* =-=-=-= Overview =-=-=-= */
.container .overview {
    margin-top: 30px;
    margin-bottom: 25px;
}

.container .overview h1 {
    font-size: 26px;
    font-weight: 700;
}

.container .overview .overviewsContainer {
    margin-top: 25px;
    display: grid;
    grid-template: 1fr 1fr / repeat(4, 1fr);
    gap: 20px;
}

.container .overview .overviewsContainer .box {
    background-color: var(--cardbg);
    width: 230px;
    height: 125px;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: 0.2s ease-in-out;
}

.container .overview .overviewsContainer .box .left-side, 
.container .overview .overviewsContainer .box .left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.container .overview .overviewsContainer .box .left-side span:nth-child(1){
    font-size: 16px;
    color: var(--lighttext);
}

.container .overview .overviewsContainer .box .left-side span:nth-child(2){
    font-size: 32px;
    font-weight: 700;
}

.container .overview .overviewsContainer .box .left-side {
    align-items: flex-end;
}

.container .overview .overviewsContainer .box .left-side span:last-of-type {
    font-size: 12px;
    font-weight: 700;
}

.attribution {
    font-size: 12px;
    margin-bottom: 25px;
}