@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 0.5s;
}

:root {
    --bg: #161722;
    --cardbg: #25273c;
    --text: #cacde8;
    --texthover: #e4e5f1;
    --lighttext: #777a92;
    --semilighttext: #4d5066;
    --darktext: #393a4c;
}

body {
    height: 100vh;
    display: flex;
    background-color: var(--bg);
    align-items: center;
    justify-content: center;
}

.bg {
    width: 100vw;
    height: 300px;
    position: absolute;
    background-image: url(assets/images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    z-index: -1;
}

/* =-=-=-= Accessibility =-=-=-= */
button span {
    position: absolute;
    opacity: 0;
    left: -200vw;
}

/* =-=-=-= Header =-=-=-= */

.todoApp {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todoApp header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todoApp header h1 {
    color: var(--texthover);
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.todoApp header button {
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    cursor: pointer;
}

/* =-=-=-= Create new todo =-=-=-= */

.todoApp .createNew {
    width: 100%;
    min-height: 50px;
    background-color: var(--cardbg);
    display: grid;
    grid-template-columns: 1fr 9fr;
    border-radius: 5px;
}

.todoApp .createNew .left-side{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoApp .createNew .left-side button{
    width: 25px;
    height: 25px;
    background: var(--semilighttext);
    border-radius: 50%;
    border: none;
    position: relative;
    cursor: pointer;
}

.todoApp .createNew .left-side button::after {
    content: "+";
    width: 23px;
    height: 23px;
    background-color: var(--cardbg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--lighttext);
    position: absolute;
    top: 1px;
    right: 1px;
    border-radius: 50%;
}

.todoApp .createNew .left-side button:hover {
    background: linear-gradient(90deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%);
}

.todoApp .createNew .right-side input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding-left: 10px;
    color: var(--text);
    outline: none;
    font-size: 16px;
}

/* =-=-=-= todo table =-=-=-= */
.todoApp .container {
    border-radius: 5px;
    background-color: var(--cardbg);
}

.todoApp .container .todo {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    border-bottom: 1px solid var(--darktext);
}

.todoApp .container .todo .left-side{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoApp .container .todo .left-side input{
    opacity: 0;
    height: 0;
    width: 0;
    display: none;
}

.todoApp .container .todo .left-side label {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.todoApp .container .todo .left-side input:checked ~ label {
    background: linear-gradient(90deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%);
}

.todoApp .container .todo .left-side input:not(:checked) ~ label {
    background-color: var(--lighttext);
}

.todoApp .container .todo .left-side label:hover {
    background: linear-gradient(90deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%);
}

.todoApp .container .todo .left-side input:not(:checked) ~ label::after {
    content: "";
    width: 23px;
    height: 23px;
    background-color: var(--cardbg);
    position: absolute;
    top: 1px;
    right: 1px;
    border-radius: 50%;
}

.todoApp .container .todo .left-side input:checked ~ label::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(assets/images/icon-check.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 5px;
    left: 4px;
    color: white;
}

.todoApp .container .todo .center {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: var(--lighttext);
    font-size: 18px;
}

.todoApp .container .todo .center span {
    cursor: pointer;
}

.todoApp .container .todo .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoApp .container .todo .right-side button {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: none;
    background-image: url(assets/images/icon-cross.svg);
    background-size: cover;
    cursor: pointer;
}

.todoApp .container .todo .center span:hover,
.todoApp .container .todo .right-side button:hover {
    filter: brightness(150%);
}

/* =-=-=-= Filters bar =-=-=-= */

.todoApp .bottomBar {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--cardbg);
    border-radius: 5px;
    position: relative;
}

.todoApp .bottomBar .counter {
    color: var(--semilighttext);
    font-size: 12px;
}

.todoApp .bottomBar button {
    border: none;
    background-color: transparent;
    color: var(--lighttext);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.todoApp .bottomBar button:hover {
    filter: brightness(150%);
}

.todoApp .bottomBar .filters {
    width: 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.todoApp .bottomBar .filters button:first-child {
    color: #3a7bfd;
}

.todoApp .bottomBar .clear button {
    color: var(--darktext);
}

@media screen and (max-width: 600px) {
    .todoApp {
        width: 90%;
    }

    .todoApp .bottomBar .filters {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 60px;
        gap: 30px;
        width: 100%;
        background-color: var(--cardbg);
        padding: 15px 0;
        border-radius: 5px;
    }

    .todoApp .bottomBar .filters button {
        font-size: 15px;
    }
}