@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --bg: #161722;
    --cardbg: hsl(235, 24%, 19%);
    --text: #cacde8;
    --texthover: #e4e5f1;
    --lighttext: hsl(234, 11%, 52%);
    --semilighttext: hsl(233, 14%, 35%);
    --darktext: hsl(237, 14%, 26%);
}

body {
    height: 100vh;
    display: flex;
    background-color: var(--bg);
    align-items: center;
    justify-content: center;
}

.bg {
    width: 100%;
    height: 300px;
    position: absolute;
    background-image: url(assets/images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
}

/* =-=-=-= Header =-=-=-= */

.todoApp {
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.todoApp header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todoApp header h1 {
    color: var(--texthover);
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.todoApp header button {
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
}

/* =-=-=-= Create new todo =-=-=-= */

.todoApp .createNew {
    width: 100%;
    height: 50px;
    background-color: var(--cardbg);
    display: grid;
    grid-template-columns: 1fr 9fr;
    border-radius: 5px;
}

.todoApp .createNew div:first-child{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoApp .createNew div:first-child button{
    width: 20px;
    height: 20px;
    background: #ffffff46;
    border-radius: 50%;
    border: none;
    position: relative;
    cursor: pointer;
}

.todoApp .createNew div:first-child button::after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: var(--cardbg);
    position: absolute;
    top: 1px;
    right: 1px;
    border-radius: 50%;
}

.todoApp .createNew div:first-child button:hover {
    background: linear-gradient(90deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%);
}

.todoApp .createNew div:last-child input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding-left: 10px;
    color: var(--text);
    outline: none;
    font-size: 16px;
}