@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --bg: #161722;
    --cardbg: hsl(235, 24%, 19%);
    --text: #cacde8;
    --texthover: #e4e5f1;
    --lighttext: hsl(234, 11%, 52%);
    --semilighttext: hsl(233, 14%, 35%);
    --darktext: hsl(237, 14%, 26%);
}