* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: rgb(66, 58, 57);
    display: flex;
    align-items: center;
    justify-content: center;
}

.emoji {
    width: 300px;
    height: 300px;
    background-image: radial-gradient(
        #feca3e 58%,
        #ff8000 80%
    );
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
}

.emoji::before,
.emoji::after {
    content: "";
    height: 45px;
    width: 32px;
    background-color: #663d0f;
    position: absolute;
    box-shadow: 0 -6px #4d2e08;
    border-radius: 50%;
    top: 90px;
}

.emoji::before {
    left: 80px;
}

.emoji::after {
    right: 80px;
}

.mask {
    height: 120px;
    width: 220px;
    background-color: #e9fbfa;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 0;
    border-radius: 5px 5px 50% 50%;
}

.mask::before,
.mask::after {
    content: "";
    width: 300px;
    height: 10px;
    background-color: #e9fbfa;
    position: absolute;
    z-index: -1;
}

.mask::before {
    transform: rotate(-20deg);
    top: 30px;
    right: -51px;
}
.mask::after {
    transform: rotate(20deg);
    top: 30px;
    left: -51px;
}

.details {
    height: 15px;
    width: 180px;
    background-color: #a1ddf4;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 20px;
    border-radius: 0 0 50% 50%;
    box-shadow: 0 25px #a1ddf4,
                0 50px #a1ddf4;
}