@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #282A36;
    display: flex;
}

/* =-=-=-=-= Menu =-=-=-=-= */
nav {
    width: 70px;
    height: 100%;
    background-color: #1e1f2b;
}

li {
    cursor: pointer;
}

nav ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 5px 0;
}

nav ul li:nth-child(1){
    padding-bottom: 0;
}

nav ul li:nth-child(1) a {
    margin-top: 10%;
}

nav ul li a{
    font-size: 30px;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
}

nav ul li a i {
    color: #a3b2ffbe;
    font-size: 26px;
}

nav ul li span {
    padding: 3px 0;
    font-size: 11px;
    font-weight: 900;
    color: rgb(228, 228, 2);
    user-select: none;
}

.menuSelectedIcon {
    color: #d2b0f1;
    background-color: #434655;
}

.menuSelectedText {
    color: #ec84de;
}

/* =-=-=-=-= Chats list =-=-=-=-= */
.chatsList {
    width: 280px;
    background-color: #191f3b2c;
}

.chatsList input {
    width: 90%;
    height: 40px;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 15px;
    border-bottom: 2px solid #434655;
    background-color: #353641;
}

.chatsList .chats {
    overflow: hidden scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

.chatsList .chats::-webkit-scrollbar {
    width: 5px;
    background-color: #5e6cb148;
    border-radius: 10px;
    display: none;
}

.chatsList .chats::-webkit-scrollbar-thumb {
    background-color: #7886c9;
    border-radius: 10px;
}

.chatsList .chats:hover::-webkit-scrollbar {
    display: block;
    position: absolute;
}

.chatsList .chats .chat:nth-child(2) {
    background-color: #434655;
}

.chatsList .chats .chat:hover {
    background-color: #434655;
    cursor: pointer;
}

.chatsList .chats .chat {
    height: 70px;
    padding: 10px 15px;
    display: grid;
    grid-template-columns: 60px 1fr 40px;
}

.chatsList .chats .chat img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: rgb(54, 54, 54);
}

.chatsList .chats .chat .nameAndText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5px 0;
}

.chatsList .chats .chat .nameAndText h1{
    font-size: 15px;
    color: rgba(255, 255, 0, 0.815);
}

.chatsList .chats .chat .nameAndText span {
    font-size: 18px;
    font-weight: 300;
}

.chatsList .chats .chat .hour {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2.5px 0;
}
.chatsList .chats .chat .hour span {
    font-size: 15px;
    color: #5e6cb1;
}

.chatsList .chats .chat .hour span:last-child {
    background-color: #7886c9;
    width: 25px;
    height: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 13px;
    font-weight: 500;
}

/* =-=-=-=-= Chat =-=-=-=-= */
