@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #FAFAFA;
    overflow-x: hidden;
}

/* =-=-=-=-= Top menu =-=-=-=-= */
nav {
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
}

nav .container {
    width: 1000px;
    height: 50px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

nav img {
    width: 125px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    display: inline-block;
    font-size: 22px;
    margin: 0 10px;
    cursor: pointer;
}

nav input {
    width: 220px;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.151);
    background-color: #FAFAFA;
    background-image: url(assets/icons/icons8-search-50.png);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: 70px;
}

nav input::placeholder {
    text-align: center;
    font-size: 15px;
}

nav li img {
    width: 25px;
    border-radius: 50%;
}

/* =-=-=-=-= Main section =-=-=-=-= */
section {
    width: 1000px;
    margin: 25px auto;
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    gap: 10px;
    padding: 0 30px;
}

/* =-=-=-=-= Storys =-=-=-=-= */
section .left {
    width: 100%;
    overflow: hidden;
}

section .left .storys {
    width: 100%;
    height: 125px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.219);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

section .left .storys .storiesContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
}

section .left .storys span {
    position: absolute;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 10px;
    border-radius: 50%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.295);
}

section .left .storys span:last-child {
    right: 0;
}

section .left .storys .storiesContainer::-webkit-scrollbar {
    -webkit-appearance: none;
}

/* =-=-=-=-= Story =-=-=-=-= */
section .left .storys .story {
    width: 66px;
    height: 66px;
    margin-left: 25px;
    text-align: center;
    margin-bottom: 15px;
}

section .left .storys .story img{
    width: 66px;
    height: 66px;
    margin-top: 5px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px white,
                0 0 0 6px rgba(167, 34, 255, 0.432);
}

section .left .storys .story h1{
    font-size: 10px;
    font-weight: 400;
    margin-top: 5px;
}

/* =-=-=-=-= Posts =-=-=-=-= */
section .post {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 5px;
}

section .post {
    margin-bottom: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
}

/* =-=-=-=-= Post header =-=-=-=-= */
section .post header {
    height: 60px;
    width: 100%;
    display: flex;
    padding: 16px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 5px 5px 0 0 ;
    display: flex;
    align-items: center;
}

section .post header img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

section .post header h1 {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

section .post header span {
    transform: translate(400px, -20%);
    font-size: 30px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* =-=-=-=-= Post body =-=-=-= */
section .body {
    height: 400px;
}

section .body img{
    width: 100%;
    height: 400px;
}

/* =-=-=-=-= Post buttons =-=-=-=-= */
section .buttons {
    padding: 5px 20px;
}

section .buttons ul{
    display: flex;
}

section .buttons li{
    list-style: none;
    font-size: 24px;
    margin-right: 15px;
    cursor: pointer;
}

section .buttons li:first-child{
    color: #ED4956;
}

section .buttons li:last-child{
    transform: translateX(410px);
}

/* =-=-=-=-= Post likes =-=-=-=-= */
section .likes {
    width: 100%;
    height: 50px;
    padding: 0 20px 25px 20px;
    margin-bottom: 10px;
}

section .likes .firstLine {
    width: 100%;
    height: 50%;
    display: flex;
    margin-bottom: 15px;
}

section .likes .firstLine img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 13px;
}

section .likes .firstLine p {
    font-size: 15px;
    font-weight: 300;
}

section .likes .firstLine p strong {
    font-weight: 500;
}

section .likes span {
    font-size: 10px;
    font-weight: 200;
}

/* =-=-=-=-= Post Comment =-=-=-=-= */
section .comment {
    border-top: 1px solid #00000023;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

section .comment span {
    font-size: 25px; 
    color: rgba(0, 0, 0, 0.61);
    margin-right: 15px;
}

section .comment input {
    border: 0;
    width: 100%;
}

section .comment button {
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.288);
    font-weight: 600;
}

/* =-=-=-=-= Right =-=-=-=-= */
.right {
    padding: 20px;
    overflow: hidden;
}

.right header {
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.right header img {
    height: 70%;
    border-radius: 50%;
    margin-right: 15px;
}

.right header h1,
.right header spam {
    font-size: 15px;
    line-height: 15px;
}

.right header h1 {
    color: #000000bd;
}

.right header span {
    color: #0000005e;
    font-weight: 400;
}