@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    background-color: #181818;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* =-=-=-=-= Header =-=-=-=-= */
header {
    height: 60px;
    padding: 10px 40px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    background-color: #202020;
}


/* =-=-=-=-= Header left =-=-=-=-= */
header .left {
    display: flex;
    align-items: center;
}

header .left button {
    background-color: transparent;
    font-size: 20px;
    border: none;
    margin-right: 20px;
}

header .left a i {
    font-size: 25px;
    color: rgb(245, 31, 31);
    transform: translateY(3px);
    margin-right: 10px;
}

header .left a {
    font-weight: 900;
    transform: translateY(-2px);
    position: relative;
}

header .left a span {
    color: rgba(255, 255, 255, 0.747);
    font-weight: 300;
    font-size: 10px;
    margin-left: 2px;
    position: absolute;
    top: 5px;
}

/* =-=-=-=-= Header Center =-=-=-=-= */
header form.searchBar {
    width: 80%;
    margin: 0 auto;
}

header form.searchBar input{
    width: 80%;
    height: 30px;
    padding: 0 5px;
    background-color: #181818;
    border: 1px solid rgba(255, 255, 255, 0.151);
    border-radius: 3px 0 0 3px;
}

header form.searchBar input::placeholder {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.623);
}

header form.searchBar button {
    transform: translateX(-5px);
}

header form.searchBar .searchButton {
    width: 60px;
    height: 30px;
    background-color: #39383B;
    border: 0;
    margin-right: 10px;
    border-radius: 0 3px 3px 0;
}

header form.searchBar .searchButton i {
    color: rgba(255, 255, 255, 0.596);
}

header form.searchBar .micButton {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    transform: translateY(2px);
    cursor: pointer;
}

/* =-=-=-=-= Header Right =-=-=-=-= */
header .right{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .right a {
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

header .right a:hover {
    background-color: rgba(255, 255, 255, 0.144);
}

header .right img{
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.116);
    border-radius: 50%;
    cursor: pointer;
}

/* =-=-=-=-= Section =-=-=-=-= */
section {
    display: grid;
    grid-template-columns: 250px 1fr;
}

/* =-=-=-=-= Lateral Menu =-=-=-=-= */
.container .menu, .top, .playlists {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
}

.container .menu {
    background-color: #202020;
    width: 250px;
}

.container .menu .top {
    border-bottom: 1px solid #39383B;
}

.container .menu .top,
.container .menu .playlists {
    padding: 20px 0;
}

.container .menu .top a,
.container .menu .playlists a {
    color: rgba(255, 255, 255, 0.918);
    font-size: 15px;
}

.container .menu .top a:hover,
.container .menu .playlists a:hover,
.container .subscriptions .channel:hover {
    background-color: #39383B;
}

.container .menu .top a i,
.container .menu .playlists a i {
    font-size: 20px;
    padding: 10px 0;
    margin-left: 40px;
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.384);
}

.container .menu .top a.selected {
    background-color: #39383B;
}

.container .menu .top a.selected,
.container .menu .top i.selected {
    color: white;
}

.playlists {
    border-bottom: 1px solid #39383B;
}

.playlists a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* =-=-=-= Subscriptions =-=-=-= */
.container .menu .subscriptions h1{
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.514);
    text-transform: uppercase;
    margin: 15px 0 10px 40px;
}

.container .menu .subscriptions .channel {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.904);
}

.container .menu .subscriptions .channel img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 15px;
}

/* =-=-=-= Scroll style =-=-=-= */
.container {
    height: 100%;
}

.container .menu {
    height: 90%;
    overflow-y: scroll;
}

.container .menu::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    display: none;
}

.container .menu:hover::-webkit-scrollbar {
    display: unset;
}

.container .menu::-webkit-scrollbar-thumb{
    background-color: #5c5c5e;
}

/* =-=-=-=-= Videos =-=-=-=-= */
.container .videos {
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.container .videos .video {
    height: fit-content;
    padding-bottom: 20px;
}

.container .videos .video .infos{
    display: grid;
    grid-template-columns: 40px 1fr 10px;
    gap: 5px;
}

.container .videos .video .thumbnail img{
    width: 100%;
    margin-bottom: 10px;
}

.container .videos .video .infos img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.container .videos .video .infos h1 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.container .videos .video .infos .text span {
    font-size: 15px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.596);
}

.container .videos .video .infos .options span i{
    color: rgba(255, 255, 255, 0.61);
    cursor: pointer;
}

/* =-=-=-= Scroll dos videos =-=-=-=-= */ 
.container .videos {
    height: 90vh;
}

.container .videos {
    overflow-y: scroll;
}

.container .videos::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

.container .videos::-webkit-scrollbar-thumb{
    background-color: #5c5c5e;
}