@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    height: 100vh;
    overflow: hidden;
}

/* =-=-=-=-= Background =-=-=-=-= */

div.background {
    height: 100%;
    background: url(./assets/backgrounds/pexels-jonathan-meyer-632280.jpg);
    background-size: 100%;
}

/* =-=-=-=-= Header =-=-=-=-= */

header {
    padding: 20px 32px;
    background-color: rgba(0, 0, 0, 0.459);
}

/* =-=-=-=-= Menu =-=-=-=-= */

header a {
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 8px 0;
    margin-right: 18px;
}

header a.a_border_bottom {
    border-bottom: 3px solid white;
}

header img {
    float: right;
}

/* =-=-=-=-= Flags =-=-=-=-= */

header img.eua {
    height: 18px;
    margin-right: 5px;
}

header img.brazil {
    height: 15px;
    transform: translateY(25%);
    opacity: 50%;
}

/* =-=-=-=-= Content =-=-=-=-= */

section.content {
    width: 100%;
    height: 100%;
    padding: 32px;
}

/* =-=-=-=-= Main Content =-=-=-=-= */

section.content .main {
    color: #FFFFFF;
    position: relative;
    left: 70px;
    top: 60px;
    user-select: none;
}

section.content .main h1 {
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    line-height: 4.3rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.212);
    margin-bottom: 15px;
}

section.content .main h2 {
    font-size: 2rem;
    letter-spacing: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    opacity: 70%;
    margin-bottom: 20px;
}

section.content .main button {
    width: 100px;
    height: 33px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 2px solid white;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: 200ms;
}

section.content .main button:hover {
    background-color: #25fd5b;
    color: black;
    font-weight: 600;
} 

/* =-=-=-=-= Cards =-=-=-=-= */

div.cards .card {
    width: 350px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    padding: 10px 24px;
    border-radius: 24px 24px 0 0 ;
    font-family: "Montserrat", sans-serif;
    text-transform: lowercase;
}

/* =-=-=-=-= First card =-=-=-=-= */

div.cards .first{
    position: relative;
    left: 450px;
    bottom: -150px;    
}

div.cards .first h1{
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 12px;
}

/* =-=-=-=-= Second card =-=-=-=-= */

div.cards .second{
    position: relative;
    left: 880px;
    bottom: -10px;  
}

div.cards .second h1{
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 12px;
}

div.cards .second input {
    background: url(assets/icons8-search-48.png) no-repeat 7px;
    background-size: 15px;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid white;
}

div.cards .second input::placeholder {
    padding-left: 30px;
    color: rgba(255, 255, 255, 0.637);
    font-weight: 300;
}